<section id="how-it-works" class="how-it-works">
  <div class="how-it-works-container">
    <div class="how-it-works-first">
      <div class="container-no-pad">
        <h2 class="visually-hidden">How it works</h2>
        <div class="how-it-works-pict">
          <picture>
            <source
              srcset="/img/how-it-works/how-it-works1x-desk.webp 1x, ./img/how-it-works/how-it-works2x-desk.webp 2x"
              media="(min-width: 1280px)"
            >
            <source
              srcset="/img/how-it-works/how-it-works1x-tab.webp 1x, ./img/how-it-works/how-it-works2x-tab.webp 2x"
              media="(min-width: 768px)"
            >
            <source
              srcset="/img/how-it-works/how-it-works1x-mob.webp 1x, ./img/how-it-works/how-it-works2x-mob.webp 2x"
              media="(max-width: 767px)"
            >
            <img class="how-it-works-pict" src="/img/how-it-works/how-it-works.webp" alt="Woman cutting apples">
          </picture>
        </div>
      </div>
    </div>

    <div class="how-it-works-second">
      <div class="container-no-pad">
        <div class="how-it-works-content">
          <h3 class="how-it-works-title">To order your <span class="how-it-works-span">vegetable</span> basket, simply follow these <span class="how-it-works-span">easy steps</span></h3>
          <p class="how-it-works-text">Our baskets are assembled with care and delivered straight to your doorstep, so you can enjoy the taste of fresh fruit without ever leaving your home.</p>
          <ol class="how-it-works-list">
            <li class="how-it-works-item">
              <p class="how-it-works-subtext">Just choose the <span class="how-it-works-span-text">vegetable</span> you want to order by clicking on the checkboxes <span class="how-it-works-span-text">next to it.</span></p>
            </li>
            <li class="how-it-works-item">
              <p class="how-it-works-subtext">Click on the <span class="how-it-works-span-text">basket</span> and fill out the form.</p>
            </li>
            <li class="how-it-works-item">
              <p class="how-it-works-subtext">Sit back and relax! Your <span class="how-it-works-span-text">fresh vegetables</span> basket will be delivered.</p>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
