<aside id="menu" class="menu">
  <div class="container">
    <div class="menu-container">
      <div class="menu-content">
        <a class="menu-close" href="#close">
          <svg class="icon-close">
            <use href="./img/icons.svg#icon-close"></use>
          </svg>
        </a>
        <nav class="menu-nav">
          <ul class="menu-nav-list">
            <li class="menu-nav-item">
              <a class="menu-nav-link" href="#how-it-works">How It Works</a>
            </li>
            <li class="menu-nav-item">
              <a class="menu-nav-link" href="#vegetables">Vegetables</a>
            </li>
            <li class="menu-nav-item">
              <a class="menu-nav-link" href="#reviews">Reviews</a>
            </li>
          </ul>
        </nav>
        <a class="menu-btn" href="#your-order">Shop now</a>
      </div>
    </div>
  </div>
</aside>