<section id="reviews" class="reviews section">
  <div class="container">
    <div class="reviews-container">
      <div class="reviews-customers">
        <h2 class="reviews-title">
          reviews from our <span class="reviews-title-span">customers</span>
        </h2>
        <p class="reviews-sub-text">
          Words of our customers: impressions and opinions about the quality of
          our services and the freshness of our products.
        </p>
      </div>


      <div class="swiper swiper-container">
          <ul class="swiper-wrapper swiper-list">
            <li class="swiper-slide reviews-item">
              <img
                srcset="
                  ./img/reviews/reviews-1-2x.jpg 2x,
                  ./img/reviews/reviews-1-1x.jpg 1x
                "
                src="./img/reviews/reviews-1-1x.jpg"
                alt="photo man"
                width="56"
                height="56"
                class="reviews-image"
              />
              <div class="reviews-data">
                <h3 class="reviews-subtitle">John Wax</h3>
                <p class="reviews-item-text">
                  These vegetables are my secret to delicious and healthy meals. The
                  quality is always at the highest level, the aroma and taste are
                  enchanting. I advise every fan of real products!
                </p>
              </div>
            </li>
            <li class="swiper-slide reviews-item">
              <img
                srcset="
                  ./img/reviews/reviews-2-2x.jpg 2x,
                  ./img/reviews/reviews-2-1x.jpg 1x
                "
                src="./img/reviews/reviews-2-1x.jpg"
                alt="photo woman"
                width="56"
                height="56"
                class="reviews-image"
              />
              <div class="reviews-data">
                <h3 class="reviews-subtitle">Victoria Romashenko</h3>
                <p class="reviews-item-text">
                  I love how fast and fresh the vegetables are delivered. Salads
                  always turn out so appetizing, and soups are real masterpieces.
                  The quality is impeccable!
                </p>
              </div>
            </li>
            <li class="swiper-slide reviews-item">
              <img
                srcset="
                  ./img/reviews/reviews-3-2x.jpg 2x,
                  ./img/reviews/reviews-3-1x.jpg 1x
                "
                src="./img/reviews/reviews-3-1x.jpg"
                alt="photo men"
                width="56"
                height="56"
                class="reviews-image"
              />
              <div class="reviews-data">
                <h3 class="reviews-subtitle">Ihor Trachuk</h3>
                <p class="reviews-item-text">
                  Recently tried my fresh tomatoes and peppers - amazing! The
                  authenticity of the taste, as if from the garden directly to my
                  table. It is now my main vegetable supplier.
                </p>
              </div>
            </li>
          </ul>
        <div class="swiper-pagination swiper-bullet"></div>
        <div class="swiper-button-prev swiper-button"></div>
        <div class="swiper-button-next swiper-button"></div>
      </div>

    </div>
  </div>
</section>
